In [73]:
import numpy as np
import pandas as pd

In [12]:
test = pd.read_excel('/Users/mtjen/desktop/debt_tables_cy2014.xlsx', sheet_name = None)

In [14]:
sheet = test['Table 1']

In [19]:
sheet = pd.read_excel('/Users/mtjen/desktop/debt_tables_cy2014.xlsx')
sheet

,Table with row headers in column A and column headers in rows 4 through 5. (Leading dots indicate subparts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"Table 1. Median Value of Debt for Households, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Characteristic,Total Debt,Secured Debt,NaN,NaN,NaN,Unsecured Debt,NaN,NaN,NaN
2,NaN,NaN,Total,Home Debt,Business Debt,Vehicle Debt,Total,Credit Card Debt,Student Loans,Other Debt
3,Total,63000,93750,120000,26000,13000,7300,3000,18000,3000
4,Race and Hispanic Origin of Householder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,"Source: U.S. Census Bureau, Survey of Income a...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Internet Release Date: 9/17/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#sheet = pd.read_excel('/Users/mtjen/desktop/debt_tables_cy2014.xlsx', header=[6,7,8,9])
sheet = pd.read_excel('/Users/mtjen/desktop/debt_tables_cy2014.xlsx', 
                       header=[2, 3],
                      index_col = [0])
sheet

Characteristic                                             Total Debt  \
                                                   Unnamed: 1_level_1
Total                                                         63000.0
Race and Hispanic Origin of Householder                           NaN
White alone                                                   70000.0
.White alone, not Hispanic                                    75130.0
Black alone                                                   29590.0
...                                                               ...
NOTE: In dollars. Estimates are conditional on ...                NaN
NOTE: In dollars. Estimates are conditional on ...                NaN
NOTE: In dollars. Estimates are conditional on ...                NaN
Source: U.S. Census Bureau, Survey of Income an...                NaN
Internet Release Date: 9/17/2018                                  NaN

Characteristic                                     Secured Debt            \
                                                          Total Home Debt
Total                                                   93750.0  120000.0
Race and Hispanic Origin of Householder                     NaN       NaN
White alone                                             96000.0  119000.0
.White alone, not Hispanic                             100000.0  119000.0
Black alone                                             47000.0  115100.0
...                                                         ...       ...
NOTE: In dollars. Estimates are conditional on ...          NaN       NaN
NOTE: In dollars. Estimates are conditional on ...          NaN       NaN
NOTE: In dollars. Estimates are conditional on ...          NaN       NaN
Source: U.S. Census Bureau, Survey of Income an...          NaN       NaN
Internet Release Date: 9/17/2018                            NaN       NaN

Characteristic                                                                 \
                                                   Business Debt Vehicle Debt
Total                                                      26000      13000.0
Race and Hispanic Origin of Householder                      NaN          NaN
White alone                                                25000      13000.0
.White alone, not Hispanic                                 25000      13000.0
Black alone                                                 7500      12500.0
...                                                          ...          ...
NOTE: In dollars. Estimates are conditional on ...           NaN          NaN
NOTE: In dollars. Estimates are conditional on ...           NaN          NaN
NOTE: In dollars. Estimates are conditional on ...           NaN          NaN
Source: U.S. Census Bureau, Survey of Income an...           NaN          NaN
Internet Release Date: 9/17/2018                             NaN          NaN

Characteristic                                     Unsecured Debt  \
                                                            Total
Total                                                      7300.0
Race and Hispanic Origin of Householder                       NaN
White alone                                                7100.0
.White alone, not Hispanic                                 7800.0
Black alone                                                8000.0
...                                                           ...
NOTE: In dollars. Estimates are conditional on ...            NaN
NOTE: In dollars. Estimates are conditional on ...            NaN
NOTE: In dollars. Estimates are conditional on ...            NaN
Source: U.S. Census Bureau, Survey of Income an...            NaN
Internet Release Date: 9/17/2018                              NaN

Characteristic                                                       \
                                                   Credit Card Debt
Total                                                        3000.0
Race and Hispanic Origin of Householder                         NaN
White alone                                                  3000.0
.White alone, not Hispanic                                   3200.0
Black alone                                                  2500.0
...                                                             ...
NOTE: In dollars. Estimates are conditional on ...              NaN
NOTE: In dollars. Estimates are conditional on ...              NaN
NOTE: In dollars. Estimates are conditional on ...              NaN
Source: U.S. Census Bureau, Survey of Income an...              NaN
Internet Release Date: 9/17/2018                                NaN

Characteristic
                                                   Student Loans Other Debt
Total                                                      18000     3000.0
Race and Hispanic Origin of Householder                      NaN        NaN
White alone                                                18000     3000.0
.White alone, not Hispanic                                 19950     3000.0
Black alone                                                18000     2544.0
...                                                          ...        ...
NOTE: In dollars. Estimates are conditional on ...           NaN        NaN
NOTE: In dollars. Estimates are conditional on ...           NaN        NaN
NOTE: In dollars. Estimates are conditional on ...           NaN        NaN
Source: U.S. Census Bureau, Survey of Income an...           NaN        NaN
Internet Release Date: 9/17/2018                             NaN        NaN

[117 rows x 9 columns]

In [49]:
# get all rows that aren't footntoees
labels = sheet.index
footIndex = None
for index in range(len(labels)):
    value = labels[index]
    if value == 'Footnotes:':
        footIndex = index
        break
    
sheet = sheet.iloc[:footIndex]

In [51]:
sheet

Characteristic                                  Total Debt Secured Debt  \
                                        Unnamed: 1_level_1        Total
Total                                              63000.0      93750.0
Race and Hispanic Origin of Householder                NaN          NaN
White alone                                        70000.0      96000.0
.White alone, not Hispanic                         75130.0     100000.0
Black alone                                        29590.0      47000.0
...                                                    ...          ...
South                                              54000.0      79000.0
West                                               86300.0     132000.0
Housing Tenure                                         NaN          NaN
Owner                                             114300.0     120500.0
Renter                                             14000.0      11000.0

Characteristic                                                                \
                                        Home Debt Business Debt Vehicle Debt
Total                                    120000.0         26000      13000.0
Race and Hispanic Origin of Householder       NaN           NaN          NaN
White alone                              119000.0         25000      13000.0
.White alone, not Hispanic               119000.0         25000      13000.0
Black alone                              115100.0          7500      12500.0
...                                           ...           ...          ...
South                                    109000.0         26000      14000.0
West                                     175000.0         37500      14000.0
Housing Tenure                                NaN           NaN          NaN
Owner                                    120000.0         35000      14000.0
Renter                                        0.0          7500      10340.0

Characteristic                          Unsecured Debt                   \
                                                 Total Credit Card Debt
Total                                           7300.0           3000.0
Race and Hispanic Origin of Householder            NaN              NaN
White alone                                     7100.0           3000.0
.White alone, not Hispanic                      7800.0           3200.0
Black alone                                     8000.0           2500.0
...                                                ...              ...
South                                           7000.0           3000.0
West                                            8000.0           3500.0
Housing Tenure                                     NaN              NaN
Owner                                           7000.0           3600.0
Renter                                          8000.0           2200.0

Characteristic
                                        Student Loans Other Debt
Total                                           18000     3000.0
Race and Hispanic Origin of Householder           NaN        NaN
White alone                                     18000     3000.0
.White alone, not Hispanic                      19950     3000.0
Black alone                                     18000     2544.0
...                                               ...        ...
South                                           16000     3000.0
West                                            19000     3000.0
Housing Tenure                                    NaN        NaN
Owner                                           17000     3000.0
Renter                                          20000     2400.0

[102 rows x 9 columns]

# Get Categories and Subcategories

In [151]:
#sheet = pd.read_excel('/Users/mtjen/desktop/debt_tables_cy2014.xlsx', header=[6,7,8,9])
test = pd.read_excel('/Users/mtjen/desktop/debt_tables_cy2014.xlsx')
test.head(3)

,Table with row headers in column A and column headers in rows 4 through 5. (Leading dots indicate subparts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"Table 1. Median Value of Debt for Households, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Characteristic,Total Debt,Secured Debt,NaN,NaN,NaN,Unsecured Debt,NaN,NaN,NaN
2,NaN,NaN,Total,Home Debt,Business Debt,Vehicle Debt,Total,Credit Card Debt,Student Loans,Other Debt

In [152]:
title = test.iloc[0, 0]

In [153]:
# get categories
catIndices = []
categories = []

for rowIndex in range(len(test.columns)):
    value = str(test.iloc[1, rowIndex])
    if value != 'nan' and value != 'Characteristic':
        catIndices.append(rowIndex)
        categories.append(value)
        
print(catIndices)
print(categories)

[1, 2, 6]
['Total Debt', 'Secured Debt', 'Unsecured Debt']

In [154]:
# get start/stop indices
startStop = []

for index in range(len(catIndices)):
    startIndex = catIndices[index]
    if index != len(catIndices) - 1:
        stopIndex = catIndices[index + 1]
    else:
        stopIndex = len(test.columns) - 1
        
    startStopIndices = [startIndex, stopIndex]
    startStop.append(startStopIndices)
    
startStop

[[1, 2], [2, 6], [6, 9]]

In [155]:
# get subcategories
subCategories = []

for indices in startStop:
    start = indices[0]
    stop = indices[1]
    subCats = test.iloc[2, start:stop].values.tolist()
    subCategories.append(subCats)
    
subCategories

[[nan],
 ['Total', 'Home Debt', 'Business Debt', 'Vehicle Debt'],
 ['Total', 'Credit Card Debt', 'Student Loans']]

In [157]:
# combine categories with subcategories
categoryPairs = []

for index in range(len(categories)):
    cat = categories[index]
    subCats = subCategories[index]
    pairing = [cat, subCats]
    categoryPairs.append(pairing)
    
# first is main category, second is the subcategories
categoryPairs

[['Total Debt', [nan]],
 ['Secured Debt', ['Total', 'Home Debt', 'Business Debt', 'Vehicle Debt']],
 ['Unsecured Debt', ['Total', 'Credit Card Debt', 'Student Loans']]]