In [1]:
import numpy as np
import pandas as pd

# Options List

In [166]:
optionGroups = []

optionGroups.append(['Total', ['nan']])
optionGroups.append(['Race and Hispanic Origin of Householder', ['White alone', '.White alone, not Hispanic', 'Black alone', 'Asian alone', 'Other (residual)', 'Hispanic origin (any race)', 'Not of Hispanic origin']])
optionGroups.append(['Nativity of Household Members', ['At least one foreign-born household member', 'Native']])
optionGroups.append(['Age of Householder', ['Less than 35 years', '35 to 44 years', '45 to 54 years', '55 to 64 years', '65 years and over', '.65 to 69 years', '.70 to 74 years', '.75 and over']])
optionGroups.append(['Age Composition of the Household', ['No children under 18', 'One or more children under 18', '.Youngest child under 5', '.Youngest child 5 to 9', '.Youngest child 10 to 18']])
optionGroups.append(['Highest Level of Educational Attainment in the Household', ['No high school diploma', 'High school graduate only', 'Some college, no degree', "Associate's degree", "Bachelor's degree", 'Graduate or professional degree']])
optionGroups.append(['Single-Person Households', ['Total', '.Less than 35 years', '.35 to 54 years', '.55 to 64 years', '.65 years and over']])
optionGroups.append(['Households of Any Size', ['Married-couple households', '.Less than 35 years', '.35 to 54 years', '.55 to 64 years', '.65 years and over', 'Male householder', '.Less than 35 years', '.35 to 54 years', '.55 to 64 years', '.65 years and over', 'Female householder', '.Less than 35 years', '.35 to 54 years', '.55 to 64 years', '.65 years and over']])
optionGroups.append(['Labor Force Activity of Household Members Under 65', ['At least one household member with labor force activity during the year', 'At least one household member who worked full-time for the entire year', 'At least one household member who workedpart-time during the year', 'At least one household member who was unemployed during the year', 'No labor force activity for any household member during the year']])
optionGroups.append(['Annual Household Income', ['Lowest quintile', 'Second quintile', 'Third quintile', 'Fourth quintile', 'Highest quintile']])
optionGroups.append(['Poverty Status', ['Household Income Below Poverty Threshold', 'Household Income Above Poverty Threshold']])
optionGroups.append(['Household Net Worth',['Negative or zero', '$1 to $4,999', '$5,000 to $9,999', '$10,000 to $24,999', '$25,000 to $49,999', '$50,000 to $99,999', '$100,000 to $249,999', '$250,000 to $499,999', '$500,000 and over']])
optionGroups.append(['Health Insurance Coverage of Household Members', ['Health insurance coverage for all household members all year', 'No Health insurance coverage for some or all household members during the year']])
optionGroups.append(['Disability of Household Members', ['No household member with a disability', 'One or more household members with a disability']])
optionGroups.append(['Participation in Government Programs', ['None', 'One or more', 'SNAP (food stamps)', 'Medicaid', 'Supplemental Security Income (SSI)', 'WIC']])
optionGroups.append(['Region', ['Northeast', 'Midwest', 'South', 'West']])
optionGroups.append(['Housing Tenure', ['Owner', 'Renter']])

optionGroups

[['Total', ['nan']],
 ['Race and Hispanic Origin of Householder',
  ['White alone',
   '.White alone, not Hispanic',
   'Black alone',
   'Asian alone',
   'Other (residual)',
   'Hispanic origin (any race)',
   'Not of Hispanic origin']],
 ['Nativity of Household Members',
  ['At least one foreign-born household member', 'Native']],
 ['Age of Householder',
  ['Less than 35 years',
   '35 to 44 years',
   '45 to 54 years',
   '55 to 64 years',
   '65 years and over',
   '.65 to 69 years',
   '.70 to 74 years',
   '.75 and over']],
 ['Age Composition of the Household',
  ['No children under 18',
   'One or more children under 18',
   '.Youngest child under 5',
   '.Youngest child 5 to 9',
   '.Youngest child 10 to 18']],
 ['Highest Level of Educational Attainment in the Household',
  ['No high school diploma',
   'High school graduate only',
   'Some college, no degree',
   "Associate's degree",
   "Bachelor's degree",
   'Graduate or professional degree']],
 ['Single-Person Households',
  ['Total',
   '.Less than 35 years',
   '.35 to 54 years',
   '.55 to 64 years',
   '.65 years and over']],
 ['Households of Any Size',
  ['Married-couple households',
   '.Less than 35 years',
   '.35 to 54 years',
   '.55 to 64 years',
   '.65 years and over',
   'Male householder',
   '.Less than 35 years',
   '.35 to 54 years',
   '.55 to 64 years',
   '.65 years and over',
   'Female householder',
   '.Less than 35 years',
   '.35 to 54 years',
   '.55 to 64 years',
   '.65 years and over']],
 ['Labor Force Activity of Household Members Under 65',
  ['At least one household member with labor force activity during the year',
   'At least one household member who worked full-time for the entire year',
   'At least one household member who workedpart-time during the year',
   'At least one household member who was unemployed during the year',
   'No labor force activity for any household member during the year']],
 ['Annual Household Income',
  ['Lowest quintile',
   'Second quintile',
   'Third quintile',
   'Fourth quintile',
   'Highest quintile']],
 ['Poverty Status',
  ['Household Income Below Poverty Threshold',
   'Household Income Above Poverty Threshold']],
 ['Household Net Worth',
  ['Negative or zero',
   '$1 to $4,999',
   '$5,000 to $9,999',
   '$10,000 to $24,999',
   '$25,000 to $49,999',
   '$50,000 to $99,999',
   '$100,000 to $249,999',
   '$250,000 to $499,999',
   '$500,000 and over']],
 ['Health Insurance Coverage of Household Members',
  ['Health insurance coverage for all household members all year',
   'No Health insurance coverage for some or all household members during the year']],
 ['Disability of Household Members',
  ['No household member with a disability',
   'One or more household members with a disability']],
 ['Participation in Government Programs',
  ['None',
   'One or more',
   'SNAP (food stamps)',
   'Medicaid',
   'Supplemental Security Income (SSI)',
   'WIC']],
 ['Region', ['Northeast', 'Midwest', 'South', 'West']],
 ['Housing Tenure', ['Owner', 'Renter']]]

# Get Categories and Subcategories

In [168]:
#sheet = pd.read_excel('/Users/mtjen/desktop/debt_tables_cy2014.xlsx', header=[6,7,8,9])
test = pd.read_excel('/Users/mtjen/desktop/debt_tables_cy2014.xlsx')
test.head(3)

,Table with row headers in column A and column headers in rows 4 through 5. (Leading dots indicate subparts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"Table 1. Median Value of Debt for Households, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Characteristic,Total Debt,Secured Debt,NaN,NaN,NaN,Unsecured Debt,NaN,NaN,NaN
2,NaN,NaN,Total,Home Debt,Business Debt,Vehicle Debt,Total,Credit Card Debt,Student Loans,Other Debt

In [169]:
title = test.iloc[0, 0]

In [179]:
def get_categories(df):
    catIndices = []
    categories = []

    for rowIndex in range(len(df.columns)):
        value = str(df.iloc[1, rowIndex])
        if value != 'nan' and value != 'Characteristic':
            catIndices.append(rowIndex)
            categories.append(value)
            
    return([catIndices, categories])

In [191]:
res = get_categories(test)

indices = res[0]
categories = res[1]

print(indices)
print(categories)

[1, 2, 6]
['Total Debt', 'Secured Debt', 'Unsecured Debt']

In [192]:
def get_category_start_stop_indices(df, category_indices):
    startStop = []

    for index in range(len(category_indices)):
        startIndex = category_indices[index]
        if index != len(category_indices) - 1:
            stopIndex = category_indices[index + 1]
        else:
            stopIndex = len(df.columns) - 1

        startStopIndices = [startIndex, stopIndex]
        startStop.append(startStopIndices)

    return startStop

In [193]:
indexRes = get_category_start_stop_indices(test, indices)
indexRes

[[1, 2], [2, 6], [6, 9]]

In [194]:
def get_subcategories(df, category_start_stop_indices):
    subCategories = []

    for indices in category_start_stop_indices:
        start = indices[0]
        stop = indices[1]
        subCats = df.iloc[2, start:stop].values.tolist()
        subCategories.append(subCats)

    return subCategories

In [195]:
subcats = get_subcategories(test, indexRes)
subcats

[[nan],
 ['Total', 'Home Debt', 'Business Debt', 'Vehicle Debt'],
 ['Total', 'Credit Card Debt', 'Student Loans']]

In [196]:
def get_category_pairs(categories, subcategories):
    categoryPairs = []

    for index in range(len(categories)):
        cat = categories[index]
        subCats = subcategories[index]
        pairing = [cat, subCats]
        categoryPairs.append(pairing)

    # first is main category, second is the subcategories
    return categoryPairs

In [197]:
pairRes = get_category_pairs(categories, subcats)
pairRes

[['Total Debt', [nan]],
 ['Secured Debt', ['Total', 'Home Debt', 'Business Debt', 'Vehicle Debt']],
 ['Unsecured Debt', ['Total', 'Credit Card Debt', 'Student Loans']]]

In [198]:
def get_sheet_categories(df):
    title = df.iloc[0, 0]
    
    # get categories and indices
    res = get_categories(test)
    indices = res[0]
    categories = res[1]
    
    # get start stop indices
    indexRes = get_category_start_stop_indices(df, indices)
    
    # get subcategories
    subcats = get_subcategories(test, indexRes)
    
    # get category pairings
    pairRes = get_category_pairs(categories, subcats)
    
    # get sheet categories
    sheetCategories = [title, categoryPairs]
    
    return sheetCategories

In [199]:
get_sheet_categories(test)

['Table 1. Median Value of Debt for Households, by Type of Debt and Selected Characteristics: 2014',
 [['Total Debt', [nan]],
  ['Secured Debt', ['Total', 'Home Debt', 'Business Debt', 'Vehicle Debt']],
  ['Unsecured Debt', ['Total', 'Credit Card Debt', 'Student Loans']]]]

# General Idea for Page [12-05]

- have multiple dropdown boxes for user to customize what they want to see


- from options list
-- which option group (ex. 'Households of Any Size' or 'Region')
-- from accomponying array of group, which subgroup (ex. 'White alone', 'Black alone')


- from categories
-- which file to select ('Debt' or 'Wealth', going to create file set soon)
-- from the table, which category (ex. 'Total Debt', 'Secured Debt')
-- from that category, which subcategory (ex. 'Home Debt, 'Vehicle Debt')


- with the final query -> output graph of last 5 year values
-- will have set of .xlsx files to be in database

# Format Tables

In [8]:
test = pd.read_excel('/Users/mtjen/desktop/debt_tables_cy2014.xlsx', sheet_name = None)

In [9]:
sheet = test['Table 1']

In [10]:
sheet = pd.read_excel('/Users/mtjen/desktop/debt_tables_cy2014.xlsx')
sheet

,Table with row headers in column A and column headers in rows 4 through 5. (Leading dots indicate subparts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"Table 1. Median Value of Debt for Households, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Characteristic,Total Debt,Secured Debt,NaN,NaN,NaN,Unsecured Debt,NaN,NaN,NaN
2,NaN,NaN,Total,Home Debt,Business Debt,Vehicle Debt,Total,Credit Card Debt,Student Loans,Other Debt
3,Total,63000,93750,120000,26000,13000,7300,3000,18000,3000
4,Race and Hispanic Origin of Householder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,"Source: U.S. Census Bureau, Survey of Income a...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Internet Release Date: 9/17/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
sheet = pd.read_excel('/Users/mtjen/desktop/debt_tables_cy2014.xlsx', 
                      header = [2, 3],
                      index_col = [0])
sheet

Characteristic                                             Total Debt  \
                                                   Unnamed: 1_level_1
Total                                                         63000.0
Race and Hispanic Origin of Householder                           NaN
White alone                                                   70000.0
.White alone, not Hispanic                                    75130.0
Black alone                                                   29590.0
...                                                               ...
NOTE: In dollars. Estimates are conditional on ...                NaN
NOTE: In dollars. Estimates are conditional on ...                NaN
NOTE: In dollars. Estimates are conditional on ...                NaN
Source: U.S. Census Bureau, Survey of Income an...                NaN
Internet Release Date: 9/17/2018                                  NaN

Characteristic                                     Secured Debt            \
                                                          Total Home Debt
Total                                                   93750.0  120000.0
Race and Hispanic Origin of Householder                     NaN       NaN
White alone                                             96000.0  119000.0
.White alone, not Hispanic                             100000.0  119000.0
Black alone                                             47000.0  115100.0
...                                                         ...       ...
NOTE: In dollars. Estimates are conditional on ...          NaN       NaN
NOTE: In dollars. Estimates are conditional on ...          NaN       NaN
NOTE: In dollars. Estimates are conditional on ...          NaN       NaN
Source: U.S. Census Bureau, Survey of Income an...          NaN       NaN
Internet Release Date: 9/17/2018                            NaN       NaN

Characteristic                                                                 \
                                                   Business Debt Vehicle Debt
Total                                                      26000      13000.0
Race and Hispanic Origin of Householder                      NaN          NaN
White alone                                                25000      13000.0
.White alone, not Hispanic                                 25000      13000.0
Black alone                                                 7500      12500.0
...                                                          ...          ...
NOTE: In dollars. Estimates are conditional on ...           NaN          NaN
NOTE: In dollars. Estimates are conditional on ...           NaN          NaN
NOTE: In dollars. Estimates are conditional on ...           NaN          NaN
Source: U.S. Census Bureau, Survey of Income an...           NaN          NaN
Internet Release Date: 9/17/2018                             NaN          NaN

Characteristic                                     Unsecured Debt  \
                                                            Total
Total                                                      7300.0
Race and Hispanic Origin of Householder                       NaN
White alone                                                7100.0
.White alone, not Hispanic                                 7800.0
Black alone                                                8000.0
...                                                           ...
NOTE: In dollars. Estimates are conditional on ...            NaN
NOTE: In dollars. Estimates are conditional on ...            NaN
NOTE: In dollars. Estimates are conditional on ...            NaN
Source: U.S. Census Bureau, Survey of Income an...            NaN
Internet Release Date: 9/17/2018                              NaN

Characteristic                                                       \
                                                   Credit Card Debt
Total                                                        3000.0
Race and Hispanic Origin of Householder                         NaN
White alone                                                  3000.0
.White alone, not Hispanic                                   3200.0
Black alone                                                  2500.0
...                                                             ...
NOTE: In dollars. Estimates are conditional on ...              NaN
NOTE: In dollars. Estimates are conditional on ...              NaN
NOTE: In dollars. Estimates are conditional on ...              NaN
Source: U.S. Census Bureau, Survey of Income an...              NaN
Internet Release Date: 9/17/2018                                NaN

Characteristic
                                                   Student Loans Other Debt
Total                                                      18000     3000.0
Race and Hispanic Origin of Householder                      NaN        NaN
White alone                                                18000     3000.0
.White alone, not Hispanic                                 19950     3000.0
Black alone                                                18000     2544.0
...                                                          ...        ...
NOTE: In dollars. Estimates are conditional on ...           NaN        NaN
NOTE: In dollars. Estimates are conditional on ...           NaN        NaN
NOTE: In dollars. Estimates are conditional on ...           NaN        NaN
Source: U.S. Census Bureau, Survey of Income an...           NaN        NaN
Internet Release Date: 9/17/2018                             NaN        NaN

[117 rows x 9 columns]

In [22]:
# get all rows that aren't footntoees
labels = sheet.index
footIndex = None
for index in range(len(labels)):
    value = labels[index]
    if value == 'Footnotes:':
        footIndex = index
        break
    
sheet = sheet.iloc[:footIndex]

In [23]:
sheet

Characteristic                                  Total Debt Secured Debt  \
                                        Unnamed: 1_level_1        Total
Total                                              63000.0      93750.0
Race and Hispanic Origin of Householder                NaN          NaN
White alone                                        70000.0      96000.0
.White alone, not Hispanic                         75130.0     100000.0
Black alone                                        29590.0      47000.0
...                                                    ...          ...
South                                              54000.0      79000.0
West                                               86300.0     132000.0
Housing Tenure                                         NaN          NaN
Owner                                             114300.0     120500.0
Renter                                             14000.0      11000.0

Characteristic                                                                \
                                        Home Debt Business Debt Vehicle Debt
Total                                    120000.0         26000      13000.0
Race and Hispanic Origin of Householder       NaN           NaN          NaN
White alone                              119000.0         25000      13000.0
.White alone, not Hispanic               119000.0         25000      13000.0
Black alone                              115100.0          7500      12500.0
...                                           ...           ...          ...
South                                    109000.0         26000      14000.0
West                                     175000.0         37500      14000.0
Housing Tenure                                NaN           NaN          NaN
Owner                                    120000.0         35000      14000.0
Renter                                        0.0          7500      10340.0

Characteristic                          Unsecured Debt                   \
                                                 Total Credit Card Debt
Total                                           7300.0           3000.0
Race and Hispanic Origin of Householder            NaN              NaN
White alone                                     7100.0           3000.0
.White alone, not Hispanic                      7800.0           3200.0
Black alone                                     8000.0           2500.0
...                                                ...              ...
South                                           7000.0           3000.0
West                                            8000.0           3500.0
Housing Tenure                                     NaN              NaN
Owner                                           7000.0           3600.0
Renter                                          8000.0           2200.0

Characteristic
                                        Student Loans Other Debt
Total                                           18000     3000.0
Race and Hispanic Origin of Householder           NaN        NaN
White alone                                     18000     3000.0
.White alone, not Hispanic                      19950     3000.0
Black alone                                     18000     2544.0
...                                               ...        ...
South                                           16000     3000.0
West                                            19000     3000.0
Housing Tenure                                    NaN        NaN
Owner                                           17000     3000.0
Renter                                          20000     2400.0

[102 rows x 9 columns]